<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Inventory app</title>
</head>
<body>
    <header>
        <h1>Inventory App</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="row">
            <form action="/createInventory" method='post'>
                <section>
                    <label for="iName">Inventory Item: </label>
                    <input type="text" name='iName'>
                </section>
                <section>
                    <label for="iImage">Link to Item Image: </label>
                    <input type="text" name='iImage'>
                </section>
                <section>
                    <input type="hidden" name="user_id" value='{{user.id}}'>
                </section>
                <button>Add Item</button>
            </form>

    </main>
    <footer>
        Made by Melissa
    </footer>
</body>
</html>