<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Update {{user.firstName}}</title>
</head>
<body>
    <header>
        <h1>Welcome {{user.firstName}}</h1>
        <img src="{{user.uImg}}" alt="{{user.username}}">
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
            <a href="/addInventory">Add Items</a>
        </nav>
    </header>
    <main>
        <div class="row">
            <form action="/editUser/{{user.id}}" method='post'>
                <section>
                    <label for="firstName">First Name: </label>
                    <input type="text" name="firstName" value='{{user.firstName}}'>
                </section>
                <section>
                    <label for="lastName">Last Name: </label>
                    <input type="text" name='lastName' value='{{user.lastName}}'>
                </section>
                <section>
                    <label for="uImg">Link to Profile Img: </label>
                    <input type="text" name="uImg" value="{{user.uImg}}">
                </section>
                <button>Update {{user.firstName}}</button>
            </form>

    </main>
    <footer>
        Made by Melissa
    </footer>
</body>
</html>