body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main img {
  max-width: 350px;
}
